depends: [
  "ocaml"
  "dune" {>= "3.16"}
  "ocamlformat" {with-dev-setup & = "0.26.2"}
  "serde" {= "0.0.2"}
  "serde_derive" {= "0.0.2"}
  "serde_json" {= "0.0.2"}
  "lwt_ppx" {= "2.1.0"}
  "cohttp-lwt-unix" {= "5.3.0"}
  "odoc" {with-doc}
]
